[Unit]
Description=LIT Node Manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/debian/lit-peer/rust/lit-node
ExecStart=/bin/bash /home/debian/lit-peer/rust/lit-node/lit-node/scripts/multi-start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target