name: rust/lit-node-build-commit-hash
on:
  workflow_dispatch: {}
  push:
    branches:
      # Habanero release branch
      - release-habanero-*
      # Manzano release branch
      - release-manzano-*
      # Cayenne release branch
      - release-cayenne-*
      # Release Candidate branches
      - rc-*
env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true

defaults:
  run:
    shell: bash
    working-directory: rust/lit-node

jobs:
  build:
    runs-on: warp-ubuntu-2204-x64-8x # change to LargeRunner to run on github.  Change to self-hosted to run on our own runner.  Change to buildjet-8vcpu-ubuntu-2204 to run on buildjet with 8 cpus
    timeout-minutes: 45

    steps:
      - name: Clean workspace
        working-directory: ${{ github.workspace }}
        run: |
          rm -rf ../../lit-assets
          mkdir -p ${{ github.workspace }}
      - name: Checkout lit-assets
        uses: actions/checkout@v6
      - uses: de-vri-es/setup-git-credentials@v2
        with:
          credentials: https://glitch003:${{secrets.READ_ONLY_PAT}}@github.com/
      - name: Install deps
        working-directory: ${{ github.workspace }}
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsqlite3-dev cmake protobuf-compiler
      - name: Rust Cache
        uses: WarpBuilds/rust-cache@v2
        with:
          cache-all-crates: 'false'
          workspaces: |
            rust/lit-node
          key: 'cachebuster123'
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: '1.91' # keep in sync with rust/lit-node/rust-toolchain.toml
          components: rustfmt rust-src
      - name: Build node
        run: cargo build --features lit-actions,testing
      - name: Build Lit Actions
        working-directory: rust/lit-actions
        run: cargo build
      - name: Build Lit Shiva
        working-directory: rust/lit-node/shiva
        run: cargo build
      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: lit_node_${{ github.sha }}
          path: |
            rust/lit-node/lit-node/target/debug/lit_node
            rust/lit-actions/target/debug/lit_actions
            rust/lit-node/lit-node/target/debug/shiva
