name: rust/lit-os
on:
  workflow_dispatch: {}
  workflow_call:
  push:
    paths:
      - rust/lit-os/**
      - .github/workflows/rust-lit-os.yml
      - scripts/github/**
    branches:
      - master
      - develop

env:
  CARGO_TERM_COLOR: always
  RUST_LOG_STYLE: always
  RUST_LOG: debug
  RUST_BACKTRACE: full
  LIT_LOGGING_SERVICE_DISABLED: 1
  CARGO_INCREMENTAL: 0

defaults:
  run:
    shell: bash
    working-directory: rust/lit-os

jobs:
  run-tests:
    runs-on: warp-ubuntu-latest-x64-4x # change to LargeRunner to run on github.  Change to self-hosted to run on our own runner.  Change to buildjet-8vcpu-ubuntu-2204 to run on buildjet with 8 cpus
    timeout-minutes: 45

    steps:
      - name: Clean workspace
        working-directory: ${{ github.workspace }}
        run: |
          rm -rf ../../lit-assets
          mkdir -p ${{ github.workspace }}
      - name: Install deps
        working-directory: ${{ github.workspace }}
        run: sudo apt-get update && sudo apt-get install -y libcryptsetup-dev libacl1-dev
      - name: Checkout lit-assets
        uses: actions/checkout@v5
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.91" # keep in sync with rust/lit-os/rust-toolchain.toml
          components: rustfmt clippy rust-src
      - name: Rust Cache
        uses: WarpBuilds/rust-cache@v2
        with:
          cache-all-crates: 'false'
          workspaces: |
            rust/lit-os
          key: 'cachebuster123'
      - name: Cargo fmt check
        run: cargo fmt -- --check
      - name: Cargo clippy check
        run: |
          # Run clippy in each subdirectory.
          cd lit-attestation-service && cargo clippy
          cd ../lit-cli && cargo clippy
          cd ../lit-cli-os && cargo clippy
          cd ../lit-logging-service && cargo clippy
          cd ../lit-os-core && cargo clippy
          cd ../lit-os-guest-initrd && cargo clippy
          cd ../lit-os-metrics && cargo clippy
          cd ../lit-os-prov-api && cargo clippy
          cd ../lit-os-prov-api-client && cargo clippy
          cd ../lit-os-prov-core && cargo clippy
      - name: Install cargo check tools
        run: |
          #cargo install --locked cargo-udeps || true
          #cargo install --locked cargo-deny || true
          #cargo install --locked cargo-outdated || true
          #cargo install --locked cargo-audit || true
          #cargo install --locked cargo-pants || true
      - name: Check
        run: |
          # TODO: Probably enable more of these.
          #cargo udeps --all-targets --all-features
          #cargo deny check
          #cargo outdated --exit-code 1
          #rm -rf ~/.cargo/advisory-db
          # TODO: Priority:
          #cargo audit
          #cargo pants
      - name: Cargo run tests
        run: make test
